@media (min-width: 1200px) and (max-width: 2499px) {
  #menuButton {
    display: none;
  }

  #navLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }

  #navLinks.open {
    display: flex;
  }

  img {
    max-width: 100%;
    width: 600px;
    height: 500px;
  }

  /* ---------- Travel Section ---------- */
  .travel {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .travel p {
    grid-column: 1 / span 2;
  }

  /* ---------- Tourists Section ---------- */
  .tourists {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .tourists p {
    grid-column: 1 / span 2;
  }

  /* ---------- Etiquette Section ---------- */

  .etiquette {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .etiquette p {
    grid-column: 1 / span 2;
  }
}