@media (min-width: 2500px) {
  #menuButton {
    display: none;
  }

  #navLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }

  #navLinks.open {
    display: flex;
  }

 .services img {
    display: flex;
 }

 .travel img {
    grid-template-columns: 1fr 1fr 1fr 1fr;
 }

 img {
    max-width: 100%;
    width: 600px;
    height: 500px;
 }
}