* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.75;
  background-color: rgb(253, 226, 230);
  color: #333;
}

.header {
  background: rgb(155, 187, 127);
  display: flex;
}

.header span {
  font-size: 30px;
  color: #333;
  display: block;
  padding: 25px;
}

.nav {
  align-self: center;
  margin-left: auto;
  padding: 10px;
}

#menuButton {
  display: none;
  background: none;
  border: none;
  color: #333;
  font-size: 30px;
}

#navLinks {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 20px
}

@media (max-width: 600px) {
  #menuButton {
    display: block;
  }

  #navLinks {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  #navLinks.open {
    display: flex;
  }
}

.nav a {
  color: #333;
  font-size: 25px;
  text-decoration: none;
}
.nav a:hover {
  text-decoration: overline;
}

.main {
  max-width: 800px;
  margin: 0 auto;
}

.footer {
  background: rgb(155, 187, 127);
  font-size: 20px;
  text-align: center;
  padding: 30px;
}