* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.75;
  background-color: rgb(253, 228, 239);
  color: #333;
}

.header {
  background: rgb(155, 187, 127);
  display: flex;
}

.header span {
  display: block;
  font-size: 30px;
  color: #333;
  padding: 25px;
  align-content: center;
  margin-left: 10px;
}

.nav {
  display: flex;
  align-self: center;
  margin-left: auto;
  padding: 25px;
  margin-right: 10px;
}

li {
  padding: 5px;
}

#menuButton {
  display: block;
  background: none;
  border: none;
  color: #333;
  font-size: 30px;
}

#navLinks {
  list-style: none;
  justify-content: space-around;
  gap: 20px
}

.open {
  display: none;
  list-style: none;
  justify-content: space-around;
  gap: 20px
}

.nav a {
  color: #333;
  font-size: 25px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: overline;
}

section {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  width: 400px;
  height: 300px;
  padding: 10px;
}

/* ---------- Request Form ---------- */
input,
select,
textarea {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}

span {
  color: #3a7ed7;
}

.required {
  color: red;
}

.req fieldset {
  margin: 2rem 0;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 2%;
}

.req label {
  display: block;
  padding-top: 10px;
}

.req select,
.req input[type="date"],
.req input[type="text"] {
  display: block;
  border-radius: 6px;
  padding: 0.75rem;
  width: 100%;
  max-width: 400px;
  appearance: none;
}

.text-block {
  display: block;
  line-height: 1.25;
  border-radius: 6px;
  padding: 16px;
  width: 100%;
  max-width: 400px;
  min-height: 150px;
  appearance: none;
}

.req input[type="radio"],
.req input[type="checkbox"] {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.req input[type="submit"] {
  border: none;
  background-image: linear-gradient(#c94edc, #3d0c66);
  color: white;
  font-size: 20px;
  border-radius: 6px;
  padding: 0.8rem;
  width: 96%;
  max-width: 400px;
  margin: -1rem 2% 2rem 2%;
  box-shadow: 1px 1px 4px #999;
}

/* ---------- Request Sent Page --------- */
.req-sent {
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.req-sent h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.req-sent img {
  max-width: 100%;
  width: 600px;
  height: auto;
  opacity: 75%;
  border-radius: 15px;
}

.req-sent p {
  font-size: 20px;
  padding: 40px;
}

/* ---------- Footer ---------- */
footer {
  background: rgb(155, 187, 127);
  font-size: 20px;
  text-align: center;
  padding: 30px;
}

.modified {
  color: #333;
}