* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.75;
  background-color: rgb(246, 211, 217);
  color: #333;
  padding: 20px;
}

.nav ul {
  background: rgb(155, 187, 127);
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.nav a {
  color: #333;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: overline;
}

.footer {
  background: rgb(155, 187, 127);
  font-size: 20px;
  text-align: center;
  padding: 30px;
}