* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.75;
  background-color: rgb(253, 226, 230);
  color: #333;
}

.header {
  background: rgb(155, 187, 127);
  display: flex;
}

.header span {
  display: block;
  font-size: 30px;
  color: #333;
  padding: 25px;
  align-content: center;
  margin-left: 10px;
}

.nav {
  display: flex;
  align-self: center;
  margin-left: auto;
  padding: 25px;
  margin-right: 10px;
}

li {
  padding: 5px;
}

#menuButton {
  display: block;
  background: none;
  border: none;
  color: #333;
  font-size: 30px;
}

#navLinks {
  list-style: none;
  justify-content: space-around;
  gap: 20px
}

.open {
  display: none;
  list-style: none;
  justify-content: space-around;
  gap: 20px
}

.nav a {
  color: #333;
  font-size: 25px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: overline;
}

.main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.req-sent {
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.req-sent h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.req-sent img {
  max-width: 100%;
  width: 600px;
  height: auto;
  opacity: 75%;
  border-radius: 15px;
}

.req-sent p {
  font-size: 20px;
  padding: 40px;
}

.footer {
  background: rgb(155, 187, 127);
  font-size: 20px;
  text-align: center;
  padding: 30px;
}