* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background: #293f75;
}

.header span {
  color: white;
  font-size: 30px;
  display: block;
  padding: 25px;
  text-align: center;
}

.nav {
  background: rgb(64, 64, 64);
  margin: auto;
}

.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.nav a {
  color: white;
  font-size: 25px;
  text-decoration: none;
}
.nav a:hover {
  text-decoration: overline;
}

.active {
  color: steelblue;
}

.wrap {
  max-width: auto;
}

.main {
  background: whitesmoke;
}

h1 {
  font-size: 50px;
  text-align: center;
  padding: 10px;
}

.cards {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
}

h2 {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

.card-personal {
  grid-column: 1;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  max-width: 700px;
  padding: 20px;
}

.card-title {
  background: #293f75;
  color: white;
  padding: 12px;
  text-align: center;
  margin: 0;
  font-size: 20px;
}

.card-resource {
  grid-column: 2;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  max-width: 700px;
  padding: 20px;
}

.card-body{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
}

.p1 {
  grid-column: 1;
  grid-row: 1;
}

.p2 {
  grid-column: 1;
  grid-row: 3;
}

.img1 {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  max-width: 175px;
  justify-self: end;
}

.img2 {
  display: block;
  grid-column: 2;
  grid-row: 3;
  width: 100%;
  max-width: 175px;
  justify-self: end;
}

.footer p {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 30px;
}

.footer span {
  font-size: 15px;
  color: rgb(246, 211, 147);
}