* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: whitesmoke;
}

.header {
  background: #293f75;
  display: flex;
  text-align: center;
}

.header span {
  color: white;
  font-size: 30px;
  display: block;
  padding: 25px;
  align-content: center;
}

.nav {
  padding: 10px;
  margin-left: auto;
  display: flex;
}

li {
  padding: 5px;
}

#menuButton {
  display: block;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  padding: 10px;
}

#navLinks {
  list-style: none;
  justify-content: space-around;
  padding: 20px;
}

.open {
  display: none;
  list-style: none;
  justify-content: space-around;
  gap: 20px
}

img {
  max-width: 100%;
  width: 600px;
  height: 500px;
}

section {
  margin: 20px;
}

div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;
}

h2,
p {
  text-align: center;
}

.nav a {
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: overline;
}

.main {
  max-width: 800px;
  margin: 0 auto;
}

.footer {
  background-color: #293f75;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 30px;
}

.footer span {
  font-size: 20px;
  color: rgb(246, 211, 147);
}