* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #293f75;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 30px;
}

.footer span {
  font-size: 20px;
  color: rgb(246, 211, 147);
}